<!DOCTYPE html>
<html>
<head>
    <title>About</title>
    <link rel="stylesheet" href="/stylesheets/output.css">
</head>
<body class="bg-neutral-100 font-sans antialiased min-h-screen flex flex-col">
    <main class="flex-grow">
        <div class="max-w-custom mx-auto p-4 py-8">
            <div class="upper text-center mb-8">
                <nav> {{template "nav.html"}} </nav>

                <h1 class="text-4xl font-serif font-extrabold text-gray-900 leading-tight mb-8">About Me</h1>
                
                <p class="text-lg text-gray-700 max-w-2xl mx-auto">This is the about page content. More information about me will go here.</p>
            </div>
        </div>
    </main>

    <footer class="mt-auto">
        {{template "footer.html"}}
    </footer>
</body>
</html>
