<hr>

<h2 id="title-harrison-blake">title: Harrison Blake</h2>

<h1 id="hi-i-m-harrison">👋 Hi, I&rsquo;m Harrison</h1>

<p>I like building things from scratch and learning how things work</p>

<h2 id="about-me">🧠 About Me</h2>

<ul>
<li>Former political field organizer turned engineer</li>
<li>Always learning and occasionally shipping side projects</li>
</ul>

<h2 id="projects">🛠️ Projects</h2>

<ul>
<li><strong>Static Site Generator</strong> — A static site generator written in Go (currently being used for this website)</li>
<li><strong>Env variable Loader</strong> — A minimal <code>.env</code> loader written in Go<br>
</li>
<li><strong>Playlist Transfer Tool</strong> — A program to transfer music playlists from spotify to youtube music (I didn&rsquo;t want to pay for both services)</li>
</ul>

<h2 id="get-in-touch">📫 Get in Touch</h2>

<ul>
<li><a href="https://github.com/harrison-blake" target="_blank">GitHub</a></li>
<li><a href="https://www.linkedin.com/in/harrison-blake/" target="_blank">LinkedIn</a></li>
<li>Email: harrison.jobs.me@gmail.com</li>
</ul>
