    @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Playfair+Display:wght@700&display=swap');

    body {
        background: linear-gradient(to bottom, #2c3e50, #00001a);
    color: #bdc3c7;
    font-family: "Open Sans", sans-serif;
    margin: 0 auto;
    padding: 2rem;
    min-height: 100vh;
    max-width: 800px;
}

h1, h2, h3, h4, h5, h6 {
    color: #ffffff;
    font-weight: 700;
    font-family: "Playfair Display", serif;
    text-align: center;
}

a {
    color: #3498db;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

p {
    line-height: 1.7;
    font-size: 1.1rem;
}

ul, ol {
    text-align: left;
}

nav {
    padding: 1rem 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    position: relative;
}

.home-link {
    position: absolute;
    left: 0;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: normal;
    font-family: "Courier New", Courier, monospace;
}

nav ul li a:hover {
    text-decoration: underline;
}